<xf:title>{{ phrase('wuak_store_configuration:') }} {$store.User.username}</xf:title>

<xf:form class="block" action="{{ link('wuak-stores/save', $store) }}">
    <div class="block-container">
        <div class="block-body">
            <xf:formrow label="{{ phrase('user') }}">
            	<xf:username user="$store.User" rich="true" />
            </xf:formrow>

            <xf:selectrow label="{{ phrase('wuak_store_status') }}" name="status" value="{$store.status}"
                          explain="{$store.getStatusExplainPhrase()}"
            >
                <xf:option value="valid">{{ phrase('wuak_store_status.valid') }}</xf:option>
                <xf:option value="missing_link">{{ phrase('wuak_store_status.missing_link') }}</xf:option>
                <xf:option value="validating">{{ phrase('wuak_store_status.validating') }}</xf:option>
                <xf:option value="error">{{ phrase('wuak_store_status.error') }}</xf:option>
            </xf:selectrow>

            <xf:textboxrow name="store_url"
                           value="{$store.store_url}"
                           label="{{ phrase('wuak_store_address') }}"
                           placeholder="{$xf.options.boardUrl}"
            />

            <xf:textboxrow name="webhook_url"
                           value="{$store.webhook_url}"
                           label="{{ phrase('wuak_webhook_url') }}"
                           placeholder="{$xf.options.boardUrl}"
            />

            <xf:checkboxrow>
                <xf:option name="disable_auto_check" value="1" selected="$store.disable_auto_check"
                           hint="{{ phrase('wuak_store_disable_auto_check_explain') }}">
                    {{ phrase('wuak_disable_auto_check') }}
                </xf:option>
                <xf:option name="active" value="1" selected="$store.active"
                           hint="{{ phrase('wuak_store_enabled_explain') }}">
                    {{ phrase('enabled') }}
                </xf:option>
            </xf:checkboxrow>
        </div>

        <xf:submitrow icon="save" />
    </div>
</xf:form>